<div class="container">
  <nav class="navbar sticky-top navbar-light bg-light">
    <div id="logo">TRAINr</div>
    <div id="tagline">Your Personal Workout Tracking Platform</div>
    <a class="navbar-brand" href="/register">Register</a>
      <a class="navbar-brand" href="/login">Login</a>
  </nav>
  <br>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link" id="nav-routine-tab" data-toggle="tab" href="#nav-routine" role="tab"
        aria-controls="nav-routine" aria-selected="false">Routine</a>
      <a class="nav-item nav-link active" id="nav-workout-tab" data-toggle="tab" href="#nav-workout" role="tab"
        aria-controls="nav-workout" aria-selected="true">Workout</a>
      <a class="nav-item nav-link" id="nav-analytics-tab" data-toggle="tab" href="#nav-analytics" role="tab"
        aria-controls="nav-analytics" aria-selected="false">Analytics</a>
      <a class="nav-item nav-link" id="nav-fitbit-stats-tab" data-toggle="tab" href="#nav-fitbit-stats" role="tab"
        aria-controls="nav-fitbit-stats" aria-selected="false">Fitbit Stats</a>
      <a class="nav-item nav-link" id="nav-spotify-tab" data-toggle="tab" href="#nav-spotify" role="tab"
        aria-controls="nav-spotify" aria-selected="false">Spotify</a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-routine" role="tabpanel" aria-labelledby="nav-routine-tab"><br>
      <h5 class="heading">Routine!</h5>
    </div>

    <div class="tab-pane fade show active" id="nav-workout" role="tabpanel" aria-labelledby="nav-workout-tab"><br>
      <h5 class="heading">Workout Tracker</h5>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="exercise-type-btn" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Choose the part of body to work out
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" id="upper_body" value="Upper Body">Monday: Upper Body</a>
          <a class="dropdown-item" href="#" id="lower_body" value="Lower Body">Wednesday: Lower Body</a>
          <a class="dropdown-item" href="#" id="core_cardio" value="Core/Cardio">Friday: Core/Cardio</a>
        </div>
        <br><br>
      </div>
      <div class="card exercise bg-transparent"> {{!-- bg-transparent --}}
        <div class="card-body">
          <div class="row">
            {{!-- --------------------------------------------------------- --}}

            {{!-- <ul> --}}
              {{!-- {{#each exercises}} --}}
                {{!-- {{#if workout_type == "Upper Body"}} --}}
                  {{!-- {{> exercises/exercise-block}} --}}
                {{!-- {{/if}} --}}
              {{!-- {{/each}} --}}
            {{!-- </ul> --}}
            <div class="col col-lg-12">
              <ul id="exercise-list" class="list-group">
              
              </ul>

            </div>
            {{!-- <div class="col col-lg-3">
              <ul id="exercise-list2" class="list-group2"></ul>
              
            </div>
            <div class="col col-lg-6">
              <ul id="exercise-list3" class="list-group3"></ul>
        
            </div> --}}

            <button class="btn btn-danger mx-auto complete" id="log-completed-btn">Log Completed Workout</button>
            {{!-- --------------------------------------------------------- --}}
            {{!-- <div class="col col-lg-3">
              <div class="row">
                <div class="col">
                  <p>1. Pullups </p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <img src="assets/images/UB1a.jpg" style="width: 80px; margin: 2px; float: left">
                  <img src="assets/images/UB1b.jpg" style="width: 80px; margin: 2px">
                </div>
              </div>
            </div>
            <div class="col col-lg-3">
              <div class="row">
                <div class="col">
                  <p>Reps: <input type="number" value="10" min="0" max="20" step="1" /></p>
                  <p>Sets: <input type="number" value="5" min="0" max="10" step="1" /></p>
                  <p>Weight (lbs): <input type="number" value="0" min="0" max="300" step="1" />
                  </p>
                </div>
              </div>
            </div>
            <div class="col col-lg-6">
              <div class="row">
                <div class="col">

                </div>
              </div>
            </div> --}}

          </div>

        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-analytics" role="tabpanel" aria-labelledby="nav-analytics-tab"><br>

{{!-- OUR CHART!!!! --}}
      <div id="chartBody">
      <div class="container">
        <canvas id="myChart"></canvas>
    </div>
  </div>


    </div>

    <div class="tab-pane fade" id="nav-fitbit-stats" role="tabpanel" aria-labelledby="nav-fitbit-stats-tab"><br>
      <h5 class="heading">Fitbit Stats</h5>
    </div>

    <div class="tab-pane fade" id="nav-spotify" role="tabpanel" aria-labelledby="nav-spotify-tab"><br>
      <div id="spotify-container">
        <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DWUVpAXiEPK8P" width="100%"
          height="600px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
  </div>

</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="../public/js/index.js"></script>
