/* ROUTINE PAGE STYLE SHEET */

body,
html {
    height: 100%;
    width: 100%;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
body {
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.navbar-Trainr {
    box-shadow: 0 2px 4px rgba(54, 54, 54, 0.04);
    background-color: rgba(214, 202, 202, 0.75);
}

.navbar-brand,
.nav-link {
    font-family: Raleway, sans-serif;
}

.card {
    opacity: 0.9;
}

.card:hover {
    border: 2px solid grey;
}

.card-title {
    color: rgb(0, 0, 3);
    text-align: center;
}

#article {
    width: 60%;
}

@media only screen and (max-width: 992px) {
    html,
    body {
        height: 150%;
    }
}

@media only screen and (max-width: 768px) {
    html,
    body {
        height: 200%;
    }
}