/* .list-group-item {
  line-height: 2.5;
} */

* {
  box-sizing: border-box
}

/* Set height of body and the document to 100% */
body,
html {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}
body{
  background-image: url(../images/mainBackground1.jpg); //why isn't this linking?
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: lightgray;
}

.navbar {
  background-color: lightblue !important;
  border-radius: 4px;
  border: solid 1px darkgray;
}

#logo {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: 900;
  font-size: 2.6rem;
  text-align: center;
  color: blue;
  /* color: rgb(2, 150, 25); */
  text-align: center;
  font-weight: bolder;
  -webkit-text-stroke: 1px black);
  text-shadow:
      3px 3px 0 gray;
}
.exercise {
  /* background-color: yellow; */
}
/* #set-3{
  margin: 2px;
} */

.heading {
  color: yellow;
}